{% extends "index.html" %}

{% block content %}
{% load static %}
    <!--Carousel Wrapper-->
    

   
    <section class="banner">

    </section>
     
    <div class="row">
        <div class="col-md-4">
 
        </div>
        <div class="col-md-8 ">
         <div class="item">
             <div class="">
                 <div class="thumbnail">
                     <div class="view overlay cont">
                         <img class="img-fluid" src="{% static "img/lightbox/sneakers.jpeg" %}" height="100%" alt="Snow"
                             style="width:100%;">
                         <div class="top-left">
                             <div class="text-left available">will be available on 
                             </div>
                             <div class="friday">Owanbe Fridays</div>
                         </div>
         
                         <div class="top-right">20% off</div>
         
                         <div class="mask flex-center rgba-red-strong">
                             <span>
                                 <i href="#" class="hover_fonts fa fa-heart"></i>
                                 <i href="#" class="hover_fonts fa fa-shopping-cart"></i>
                                 <i href="#" class="hover_fonts fa fa-credit-card"></i>
                             </span>
                         </div>
         
                     </div>
                     <div class="card">
                         <span class="item-name"> RED SNEAKERS </span><br>
                         <span class="rating">
                             <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                             <i class="far fa-star"></i><i class="far fa-star"></i>
                         </span><br>
                         <span class="new-price">&#8358;
                             8,000</span>
                     </div>
         
                 </div>
             </div>
         </div>
        </div>
    </div>

   
{% endblock content %}